.form{
    width: 100%;
    text-align: center;
    background-color: #0abf53;
    height: auto;
  }
  .form input{
      width: 50%;
      height: 3rem;
      margin: 2rem;
      border-radius: 10px;
      border: 1px solid lightgray;
      outline-color: lightgray;
  }